<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="./static/jquery-3.5.1.js" type="module"></script>
    <script src="/static/anvaka_panzoom.js"></script>
    <script src="./static/ui_functions.js" type="module"></script>
    <script src="./static/file_functions.js" type="module"></script>
    <script src="./static/tag_functions.js" type="module"></script>
    <script src="./static/main.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="./static/style.css" />

    <style>
      .hidden {
        display: none;
      }

      .visible {
        display: contents;
      }
    </style>
  </head>

  <body>
    <div class="leftSidebar" style="display: block; width: 40%">
      <div id="leftSidebarDraggable" class="sidebar-draggable"></div>

      <div id="leftSidebarWrapper">
        <div id="leftSidebarMenu">
          <div class="div-command">
            <div id="search_submit">
              <textarea
                id="command"
                class="menu-textbox"
                rows="5"
                spellcheck="false"
                placeholder='JS array compliant tag search per line...
["tag1","tag1a"]
["tag2 electric boogaloo", ["tag1","tag1a"] ]'
              ></textarea>
              <select class="input-field" id="sort_order">
                <option value="0">file size - smallest first</option>
                <option value="1">file size - largest first</option>
                <option value="2">duration - shortest first</option>
                <option value="3">duration - longest first</option>
                <option value="4">import time - oldest first</option>
                <option value="5" selected>import time - newest first</option>
                <option value="6">filetype</option>
                <option value="7">random</option>
                <option value="8">width - slimmest first</option>
                <option value="9">width - widest first</option>
                <option value="10">height - shortest first</option>
                <option value="11">height - tallest first</option>
                <option value="12">ratio - tallest first</option>
                <option value="13">ratio - widest first</option>
                <option value="14">number of pixels - ascending</option>
                <option value="15">number of pixels - descending</option>
                <option value="16">number of tags - ascending</option>
                <option value="17">number of tags - descending</option>
                <option value="18">number of media views - ascending</option>
                <option value="19">number of media views - descending</option>
                <option value="20">total media viewtime - ascending</option>
                <option value="21">total media viewtime - descending</option>
                <option value="22">approximate bitrate - smallest first</option>
                <option value="23">approximate bitrate - largest first</option>
                <option value="24">has audio - audio first</option>
                <option value="25">has audio - silent first</option>
                <option value="26">modified time - oldest first</option>
                <option value="27">modified time - newest first</option>
                <option value="28">framerate - slowest first</option>
                <option value="29">framerate - fastest first</option>
                <option value="30">number of frames - smallest first</option>
                <option value="31">number of frames - largest first</option>
                <option value="32">last viewed time - oldest first</option>
                <option value="33">last viewed time - newest first</option>
                <option value="34">archive timestamp - oldest first</option>
                <option value="35">archive timestamp - newest first</option>
                <option value="36">hash hex</option>
                <option value="37">namespace sort</option>
                <option value="38">namespace sort - reversed</option>
              </select>
              <button id="submitButton">Submit</button>
            </div>
            <div id="search_position">
              <p
                class="menu-item"
                title="SEARCH_STRING_HERE"
                id="currentPos_display_string"
              >
                Showing file [<span id="file_no">xxx</span>/<span
                  id="file_length"
                  >XXX</span
                >] of search no. <span id="search_no">XXX</span>
              </p>
            </div>
          </div>
          <div>
            <p class="menu-item menu-submenu">Current File Tags:</p>

            <div class="div-popout" style="display: none" id="currenttags">
              <div class="div-command">
                <select class="input-field" id="tagRepositoryList"></select>
                <select class="input-field" id="displayTagToggle">
                  <option value="display">Display tags</option>
                  <option value="storage">Actual tags</option>
                </select>
              </div>
              <textarea
                id="taglist"
                rows="20"
                class="menu-textbox"
                placeholder='Tags...&#13;"Submit" to commit to current file.&#13;Remote tag services not supported.'
                readonly="readonly"
              ></textarea>
              <button id="committags" style="display: none">Submit</button>

              <!-- <div id="commitmsg" style="display: none">
                <p>
                  You are about to remove these tags from
                  <span>${tagrepo}</span>. Please add a reason for each tag then
                  commit again.<br />If left blank, the default message
                  "Petitioned from API" will be sent.
                </p>
                <input type="text" placeholder="tagtoremove" />
                <input type="text" placeholder="unwantedtag" />
                <input type="text" placeholder="test" />
              </div> -->
            </div>
          </div>
          <div>
            <p class="menu-item menu-submenu">Navigation:</p>

            <div class="div-popout" style="display: none">
              <button id="file_previous">Previous</button>
              <button id="file_next">Next</button>
              <div>
                <!-- FIXME: When expanding collapsed popouts, it expands recursively -->
                <p class="menu-item menu-submenu">Other Navigation:</p>
                <div class="div-popout" style="display: none">
                  <button id="file_random">Random</button>
                  <p title="Number to jump next/previous files by.">
                    Jump files by:
                  </p>
                  <input
                    type="number"
                    id="jump_files_by"
                    class="menu-command"
                    value="1"
                    min="1"
                  />
                  <button id="file_jump_previous">Jump previous</button>
                  <button id="file_jump_next">Jump next</button>

                  <p title="Jump to specific file.">Jump:</p>
                  <div>
                    <p>Search number (top to bottom):</p>
                    <input
                      type="number"
                      id="jump_to_search_number"
                      class="menu-command"
                      value="0"
                      min="0"
                    />

                    <p>File number:</p>
                    <input
                      type="number"
                      id="jump_to_file_number"
                      class="menu-command"
                      value="0"
                      min="1"
                    />
                  </div>
                  <button id="submit_jump">Submit Jump</button>
                </div>
              </div>
            </div>
          </div>

          <div>
            <p class="menu-item menu-submenu">Settings:</p>

            <div class="div-popout" style="display: none">
              <p class="menu-item menu-submenu">Hydrus Client API:</p>
              <div class="div-popout" style="display: none">
                <p title="Address and port number of Hydrus Client">URL:</p>
                <input
                  type="text"
                  id="clientURL"
                  class="menu-command"
                  placeholder="http://127.0.0.1:45869"
                />
                <p title="Services &gt; review services &gt; client api">
                  Access key:
                </p>
                <input
                  autocomplete="off"
                  type="text"
                  id="clientKey"
                  class="menu-command"
                  placeholder="Client API key"
                />
                <p>Status: <span id="clientStatus">...</span></p>
              </div>

              <p class="menu-item menu-submenu">App:</p>
              <div class="div-popout" style="display: none">
                <div>
                  <p
                    title="Adjust delay when the sidebar hides in milliseconds. Default 2000ms"
                  >
                    Hide sidebar delay (ms):
                  </p>
                  <input
                    type="number"
                    id="sidebarDelay"
                    class="menu-command"
                    placeholder="2000"
                    max="2147483647"
                  />
                </div>
                <div>
                  <p title="Custom namespace">Custom namespace:</p>
                  <input
                    type="text"
                    id="custom_namespace"
                    class="menu-command"
                    value="creator-series-title-volume-chapter-page"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="leftHover"></div>

    <div class="rightSidebar" style="display: block; width: 40%">
      <div id="rightSidebarDraggable" class="sidebar-draggable"></div>

      <div id="rightSidebarWrapper">
        <div id="rightSidebarMenu">
          <div>
            <p class="menu-item menu-submenu">File information:</p>
            <div class="div-popout" style="display: none" id="file_info">
              <div>
                <label for="file_info_hash">Hash:</label>
                <p id="file_info_hash" class="mono"></p>
              </div>
              <div>
                <label for="file_info_urls">Known URLs:</label>
                <p id="file_info_urls" class="mono"></p>
              </div>
            </div>
          </div>

          <div>
            <p class="menu-item menu-submenu">Notes:</p>

            <div class="div-popout" style="display: none">
              <select id="file_info_notes" class="input-field"></select>
              <p id="file_info_notefield"></p>
            </div>
          </div>
          <div>
            <label for="panzoom" class="menu-item">Enable Zoom: </label
              ><input
                type="checkbox"
                id="panzoom"
              /><br>
              <label for="panzoom_persist" class="menu-item">Persist Zoom: </label
                ><input
                  type="checkbox"
                  id="panzoom_persist"
                />
                </div>
        </div>
      </div>
    </div>

    <div id="rightHover"></div>
    <div id="fileCanvas">
      <div id="filePlaceholder">
        <!-- <div id="filePlaceholder0"></div>
        <div id="filePlaceholder1"></div>
        <div id="filePlaceholder2"></div> -->
        <!-- <img src="./rectangle.png"> -->
      </div>
      <div class="dot-elastic" style="display: none"></div>
    </div>
  </body>
</html>
